#main-app,
.product-page {
    width: 70%;
    margin: 0 auto;
}

.product-list li {
    display: inline-block;
    margin-bottom: 100px;
}

.product-item {
    width: 60%;
}

#alert {
    margin: 35% auto;
    width: 30%;

}

